{extends layout.latte}

{block title}Vypis osob{/block}

{block body}
<h1>Vypis osob</h1>

<form method="get">
    <input type="text" name="filtr"
          placeholder="Zadej jmeno">
    <input type="submit" value="Hledej">  
</form>

<table>
    {foreach $osoby as $os}
        <tr>
            <td>{$os ['first_name']}</td>
            <td>{$os ['last_name']}</td>
        </tr>
    {/foreach}
</table>
    
{/block}