{extends layout.latte}

{block title}Pridani osoby{/block}

{block body}
<h1>Nova osoba</h1>

<form method="post">
    <label>Jmeno</label>
    <input type="text" name="jm"  
          placeholder="Zadej jmeno"
          required>
    <br>
    <label>Prijmeni</label>
    <input type="text" name="pr"  
          placeholder="Zadej prijmeni"
          required>
    <br>
    <label>Prezdivka</label>
    <input type="text" name="pz"  
          placeholder="Zadej prezdivku"
          required>
    <br>
    <label>Vyska</label>
    <input type="number" name="vy"  
          placeholder="Zadej vysku">
    <br>
    <label>Datum narozeni</label>
    <input type="date" name="dn">
    <br>
    <label>Pohlavi</label>
    <select name="po"> 
        <option value="female">Zena</option>
        <option value="male">Muz</option>
    </select>
    <br>
    
    <input type="submit" value="Pridat">  
</form>



{/block}